host: pbr-example.greatlion.tech
address: ":8080"
loglevel: debug
cachedir: /home/nikolas/.cache/pbr
admintoken: verySecure42
credentials:
  containerregistry:
    registry.gitlab.com/candosa:
      username: nikolas.sepos
      password: ${GITLAB_PBR_TOKEN}
plugins:
  candosa/strval:
    image: registry.gitlab.com/candosa/proto-plugins/strval:v0.1.4
