name: release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GLT_RELEASER_APP_ID }}
          private-key: ${{ secrets.GLT_RELEASER_APP_KEY }}
      - uses: greatliontech/semrel@main
        with:
          release: true
          releaseToken: ${{ steps.app-token.outputs.token }}
